.credit-card-layout {
    width: 300px;
    position: relative;
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 16px;
    margin-top: 3%;
    margin-left: 40%;
}

.save-button {
    padding-top: 40px;
}

.input-fields {
    padding-top: 20px;
}

.credit-card-header {
    padding-bottom: 20px;
}

