.login-button {
    margin-top: 20px;
    margin-left: 80%;
}

.login-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.login-form-layout {
    width: 440px;
}

.login-content-container {
    padding-left: 40px;
    padding-right: 40px;
}